
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Ancients Map</title>

     <!-- loads the path to static files -->
    {% load static %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Raleway' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{% static 'my_style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'map.css' %}" />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet/dist/leaflet.css" crossorigin=""/>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js" crossorigin=""></script>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.4.0/css/all.css" crossorigin="anonymous">
    <link href="{% static 'fontawesome_free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'places/mystyle.css' %}"/>
    <link rel="icon" href="{% static 'favicon.png' %}">
  </head>
  <body>

      <nav class="navbar navbar-inverse">
        <div class="container-fluid">

            <!-- Header -->
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'places:index' %}"> <i class="fas fa-globe"></i>&nbsp; Ancients</a>
            </div>

            <!-- Items -->
            <div class="collapse navbar-collapse" id="myTopNavBar">
                 <ul class="nav navbar-nav navbar-right">
                     <li><a class="nav-link" href="{% url 'admin:index' %}" target="_blank">Admin</a></li>
                     <li class="">
                         <td>
                             {% include 'search.html' %}
                         </td>
                     </li>
                </ul>
            </div>
        </div>
    </nav>

    {% block myBlock %}
    {% endblock %}
  </body>
    <p class="footer"> Version 16 Feb 2025</p>
</html>