

        <div class="card">
         <div class="card-body">
           <table>
             <tr>
               <td>

                   <a href="{% url 'places:set-country-filter' 'belgium' %}" class="btn btn-primary btn-md" role="button"><i class="fas fa-earth-americas"></i> Belgium</a>
                   <a href="{% url 'places:set-country-filter' 'denmark' %}" class="btn btn-primary btn-md" role="button"><i class="fas fa-earth-americas"></i> Denmark</a>
                   <a href="{% url 'places:set-country-filter' 'england' %}" class="btn btn-primary btn-md" role="button"><i class="fas fa-earth-americas"></i> England</a>

                   <a href="{% url 'places:set-country-filter' 'france' %}" class="btn btn-primary btn-md" role="button"><i class="fas fa-earth-americas"></i> France</a>
                   <a href="{% url 'places:set-country-filter' 'germany' %}" class="btn btn-primary btn-md" role="button"><i class="fas fa-earth-americas"></i> Germany</a>
                   <a href="{% url 'places:set-country-filter' 'netherlands' %}" class="btn btn-primary btn-md" role="button"><i class="fas fa-earth-americas"></i> The Netherlands</a>
                   <a href="{% url 'places:set-country-filter' 'scotland' %}" class="btn btn-primary btn-md" role="button"><i class="fas fa-earth-americas"></i> Scotland</a>

                 {% include 'dropdown.html' %}
               </td>
             </tr>

           </table>
         </div>
        </div>


