
<div class="container-fluid">
<label for="country">Country:</label>
<select name="country" id="country" onchange="document.getElementById('filterForm').submit();">
    <option value="">{{ country }}</option>
    {% for country in countries %}
        <option value="{{ country }}">{{ country }}</option>
    {% endfor %}
</select>

&nbsp;

<label for="category"> Global Type:</label>
<select name="category" id="category" onchange="document.getElementById('filterForm').submit();">
    <option value="">{{ category }}</option>
    {% for category in categories %}
        <option value="{{ category }}">{{ category }}</option>
    {% endfor %}
</select>

&nbsp;

<label for="place_type"> Detailed Type:</label>
<select name="place_type" id="place_type" onchange="document.getElementById('filterForm').submit();">
    <option value="">{{ place_type }}</option>
    {% for type in types %}
        <option value="{{ type }}">{{ type }}</option>
    {% endfor %}
</select>

&nbsp

Results: {{ places|length }}

{% include 'search.html' %}
</div>