

        <div class="card">
         <div class="card-body">
           <table>
             <tr>
               <td>
                   <a href="{% url 'places:set-place-filter' 'all' %}" class="btn btn-primary btn-lg" role="button"><i class="fas fa-layer-group"></i> ALL</a>
                   <a href="{% url 'places:set-place-filter' 'barrow' %}" class="btn btn-primary btn-lg" role="button"><i class="fas fa-mound"></i> Barrow</a>

                   <a href="{% url 'places:set-place-filter' 'tree' %}" class="btn btn-primary btn-lg" role="button"><i class="fas fa-tree"></i> Tree</a>
                   <a href="{% url 'places:set-place-filter' 'stone' %}" class="btn btn-primary btn-lg" role="button"><i class="fas fa-door-closed"></i> Stone</a>
                   <a href="{% url 'places:set-place-filter' 'village' %}" class="btn btn-primary btn-lg" role="button"><i class="fas fa-house"></i> Village</a>
                   <a href="{% url 'places:set-place-filter' 'well' %}" class="btn btn-primary btn-lg" role="button"><i class="fas fa-water"></i> Well</a>

                 {% include 'dropdown.html' %}
               </td>
             </tr>

           </table>
         </div>
        </div>


