{% extends 'base.html' %}
{% load static %}

{% block myBlock %}
    {% include 'dropdown_filters_list.html' %}

    <div class="row">

    {% for place in places %}
        <div class="col-sm-6 col-lg-6">
            <div class="card" style="width: 90%;">
                <hr>
                <div class="card-body">
                    <h4 class="card-title">
                        {{ place.name }} - {{ place.region }} - {{ place.type }}
                    </h4>
                    <p class="card-text">
                        {{ place.description|safe }}
                    </p>
                    <a href="{% url 'places:set-view' place.pk %}" class="btn btn-primary btn-md" role="button"><i class="fas fa-globe"></i> Map</a>

                </div>
            </div>
        </div>

    {% empty %}
        <li>No places available.</li>
    {% endfor %}

    </div>

{% endblock %}