{% extends 'base.html' %}
{% load static %}
{% block myBlock %}

<div class="container-fluid">

    <div class="col-sm-6 col-lg-6">
         <h2>Ancients</h2>
            <ul>
                <li>Data from <a href="https://www.megalithic.co.uk/" target="_blank">https://www.megalithic.co.uk/</a></li>
                <li>Downloaded as kml files per country and then converted to a sqlite database.</li>
            </ul>

        <img src="{% static 'wolfheze.jpg' %}" style="display: inline-flex; margin: auto; max-width: 100%; height: auto; border-radius: 10px;">
        <hr>
      <p class="footer"> Version 23 Mar 2025</p>
    </div>

</div>
{% endblock %}
